<div class="turn-black">
  <%= @game.black_card.text %>
</div>

<div class="turn-white">
  
<% @deck.each do |players_card| %>
  <%= form_for players_card do |f| %>
    <p><%= players_card.white_card.text %></p>
    <%= f.check_box :selected %>
    <%= button_to "Choose!", {action: "update", id: players_card.id}, method: :patch %>
  <% end %>
<% end %>


</div>

