<div class="turn-black">
  <%= @game.black_card.text %>
</div>

<div class="turn-white">
  
<% @deck.each do |players_card| %>
  <%= form_for players_card do |f| %>
    <p><%= players_card.white_card.text %></p>
    <%= f.check_box :selected %>
    <%= f.button "Choose!" %>
  <% end %>
<% end %>


</div>

